@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
body {
  margin: 0;
    font-family: "Lexend Deca", sans-serif;
}

code {
    font-family: "Lexend Deca", sans-serif;
}

@layer base{
  li{
    @apply px-4;
    @apply cursor-pointer;
  }
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}

.content-div:hover {
    color: white !important;
    background-image: linear-gradient(
        to top,
        rgba(18, 124, 185, 0.8),
        hsla(202, 100%, 96%, 0.8)   
    )!important;
}
